* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   background-color: rgb(163, 206, 163);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 100%;
}

div {
    background-image: url(table.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px 25%;
    height: 100vh;
    border-radius: 15px;
}

h1 {
    padding-top: 15%;
    font-size: 3rem;
    color: goldenrod;
}

p {
    padding-top: 8%;
    font-size: 1.4rem;
}
#message-el {
    font-style: italic;
}